@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background-color: #fff;
}
.navigation{
  display: flex;
  width: 1040px;
  flex-direction: column;
  margin: 0 auto;
}

.subscription-block{
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.subscription-text{
  display: flex;
  margin-bottom: 144px;
}
.subscription-form{
  display: flex;
  margin-bottom: 56px;
}
.navigation-logo{
  margin: 20px 0 35px 0;
}
.navigation-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-user{
  width: 470px;
  padding-left: 53px;
 justify-content: space-between;
}
.navigation-user .navigation-item{
  padding-right: auto;
}
.search-user-menu{
  display: flex;
  margin-bottom: 45px;
}
.header-catalog-service{
  display: flex;
  justify-content: space-between;
}
.site-search-form{
  display: flex;
  width: 517px;
  justify-content: space-between;
  margin: 0;
}
.search-input{
  padding-right: auto;
}
.catalog-navigation{
  width: 293px;
  margin: 0;

}
.delivery-guarantees-contacts{
  width: 471px;
  justify-content: space-between;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
  color: #000;
}

.navigation-link, .catalog-navigation{
  font-family: "Railway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-user .navigation-link{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-transform: none;
}
.navigation-item{
  list-style: none;
}

.slider-dron{
  display: flex;
  width: 1160px;
  margin: 0 auto 70px auto;
}

.slider{
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-right: 40px;
}

.slider-drone-discription{
  display: flex;
  flex-direction: column;
  width: 560px;
  justify-content: center;
}
.info{
  width: 1160px;
  margin: 0 auto;
}
.list-info{
  display: flex;
  margin: 0;
  padding: 0;
}
.slider-pagination{
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-of-items{
  width: 1160px;
  margin: 0 auto 70px auto;
}

.slider-tagline{
  width: 545px;
  padding: 0 0 29px 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin: 0;
}
.drone-discription{
  width: 560px;

  font-family: 'Rubik', sans-serif;
  color: #444444;
  font-weight: 400;
  margin: 0;
}

.more-about{
  width: 220px;
  padding: 10px 0;
  margin: 50px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.fly-range, .damage-radius{
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000;
}

.category-link{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.items-category{
  display: flex;
  margin: 0 0 110px 0;
  padding: 0;
  justify-content: space-between;
}
.item-category{
  list-style: none;
  width: 160px;
}
.item-info{
  list-style: none;
  margin: 0;
  padding-right: 20px;
}

.service-list{


  background-color: #F0F0F0;
}
.service-list-content{
  display: flex;
  width: 1160px;

  margin: 0 auto 70px auto;
}
.services{
  margin-top: -40px;
  padding: 0;
  align-items: flex-end;
}
.service-description{
  display: flex;
  flex-direction: column;
  margin-left: 123px;
  margin-top: -30px;
}
.service-item-active{
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}
.service-link{
  width: 287px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFE17F;
}
.service-item{
  list-style: none;
  display: flex;
  padding: 10px 0 10px 4px;
  margin-bottom: 35px;
}

.service-link h3{
  margin: 0;
  padding: 9px 0 11px 0;
}
.description-of-service{
  width: 452px;
  margin: 0;
  padding-bottom: 145px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  text-align: left;
}
.delivery-title{
  width: 242px;
  margin: 0;
  padding: 0 0 34px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}
.delivery-button{
  display: block;
  width: 910px;
  margin: 0 auto;
  padding: 40px 125px;
  background-color: #F0F0F0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.delivery-link{
  margin: 0 auto 70px auto;
}
.info{
  display: flex;
  justify-content: space-between;
}
.conracts, .about-us{
  display: flex;
  flex-direction: column;
}
.about-us{
  width: 497px;
}
.contacts{
  width: 497px;
}
.contacts-schedule{
  list-style: none;
  padding: 0 0 30px 0;
  margin:  0;
}
.about-us-title, .contacts-title{
  padding: 40px 0 48px 0;
  margin: 0;
  font-family: 'Raleway';
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;
}
.description-about-us, .contacts-phone, .contacts-subtitle, .description-contacts{
  padding: 0 0 30px 0;
  margin: 0;
}
.contacts-subtitle{
  padding-bottom: 15px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.transport-company{
  padding-bottom: 19px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  list-style: disc;
}
.transport-company:last-child{
  margin: 0;
}
.more-about-us{
  display: block;
  width: 270px;
  text-align: center;
}
.write-to-us{
  display: block;
  width: 259px;
  text-align: center;
  margin-bottom: 80px;
}
.more-about-us, .write-to-us{
  padding: 10px 6px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.contact-address .contacts-address-text, .contacts-phone{
  color: #444;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}
.contact-address{
  margin-bottom: 30px;
}
.transport-companies{
  padding-left: 0 0 0 34px;
  margin: 0;
}
.transport-company:last-child{
  padding-bottom: 30px;
}

.newsletter-subscription-titel{
  width: 348px;
  padding: 60px 252px 0 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.newsletter-subscription{
  padding: 0 auto;
  display: flex;
  background-color: #F0F0F0;
  flex-direction: column;
}
.newsletter-subscription-form{
  width: 810px;
}
.newsletter-button{
  padding: 18px 39px;
}
.field{
  padding: 11px 447px 14px 16px;
}
.this-is-free{
  padding-left: 220px;
}
.page-footer{
  background: #444444;
}
.description-subscription{
  margin: 0;
  width: 560px;
  padding-top: 74px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center ;
  margin-bottom: 47px;
}
.footer-address-service{
  display: flex;
}

.navigation-logo-footer{
  margin: 62px auto 35px 0;
}
.footer-navigation .navigation-link{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color:#fff;
}

.contacts-address-text, .footer-navigation .contacts-phone{
  color:#fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.contacts-address-text{
  width: 509px;
  margin: 0;
}

.contact-address-footer .contacts-address-text{
  width: 234px;
  margin: 0;
  padding: 0;
  margin-right: 124px;
}
.footer-navigation .contact-address{
  justify-content: center;
  margin: 0;
}
.navigation-list-footer{
  display: flex;
  width: 444px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 183px;
}
.footer-navigation .contacts-phone{
  width: 174px;
}

.footer-social-item{
  width: 40px;
  height: 40px;
  padding-right: 40px;
}
.footer-social-item:first{
  margin-right: 645px;
}

.footer-social-list{
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
  margin-bottom:60px;
}
.footer{
  width: 1160px;
  margin: 0 auto;
}
/* саталогг */
/* саталогг */
/* саталогг */
/* саталогг - это так чтобы в ленте было видто, не стукайте*/
/* саталогг */
/* саталогг */
/* саталогг */

.catalog-main{
  background-color: #F0F0F0;
}
.catalog-all{
  width: 1160px;
  margin: 0 auto;

}
.inner-header{
  padding: 35px 0;
  background-color: #fff;
}
.path-header{
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
}
.inner-header-title{
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}
.path{
  display: flex;
  padding: 0;
  margin: 0;
}
.path-link{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}
.path-item{
  list-style: none;
  margin-right: 36px;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
}
.filter-setting{
  width: 220px;
  margin-right: 40px;
}

.bluetooth-filter-list, .color-filter-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.color-filter-group, .bluetooth-filter-group, .price-filter-group{
  border: none;
  padding: 0;
  margin: 0;
}
.price-title, .color-title, .bluetooth-title{
  border-top: #000 2px solid;
  width: 220px;
  padding: 12px 0 20px 0;
}
.color-filter-item{
  padding-bottom: 17px;
}
.color-filter-item:last-child{
  padding-bottom: 35px;
}
.bluetooth-filter-item{
  padding-bottom: 20px;
}
.bluetooth-filter-item:last-child{
  padding-bottom: 35px;
}
.control-input{
  padding: 0;
  margin: 0;
}
.selecting-content{
  display: flex;
  flex-direction: column;
  width: 840px;
}
.sorting{
  display: flex;
}
.sorting-title{
  display: block;
  padding: 25px 40px;
  margin: 0;
}

.product-list{
  background-color: #fff;
  padding: 70px 40px 40px 40px;
  display: grid;
  grid-template-columns: 360px 360px;
  margin: 0;
  row-gap: 44px;
  column-gap: 40px;
}
.product-item{
  display: flex;
  width: 360px;
  margin: 0;
}
.description-item{
  display: flex;
  justify-content: space-between;
}


.more-content-buttons{
  display: flex;
  flex-direction: column;
  width: 760px;
  padding: 0 40px;
  margin: 0;

  background-color: #fff;
}

.pagination{
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 760px;
  background-color: #F0F0F0;
  margin-bottom: 78px;
  margin-top: 0;
}

.pagination-item{
  padding: 25px;
}
.pagination-item:nth-child(2){
  margin-left: auto;
}
.pagination-item:nth-child(6){
  margin-right: auto;
}
.filter-title{
  padding: 25px 0;
  margin: 0;
}
.filter-title, .sorting-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
}

.price-title, .color-title, .bluetooth-title{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.control{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.product-title{
  width: 226px;
  display: block;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.product-image{
  padding-bottom: 32px;
}
.product-item{
  list-style: none;
}
.product-link{
  text-decoration: none;
}

.product-card-price{
  display: block;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.show-more-product{
  padding: 18px 39px;
  margin-bottom: 40px;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link-number{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}
.pagination-prev, .pagination-next{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.pagination-current{
  opacity: 0.6;
}
.pagination-disabled{
  opacity: 0.3;
  color: #444;
}
.pagination-item{
  list-style: none;
}
.select-sorting{
  margin-left: 205px;
  padding: 0;
  background-color: #F0F0F0;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.show-button{
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.rr1{
  width: 1160px;
  margin: 0 auto;
}
